


<!DOCTYPE HTML>
<html>

<head>
    <title>Transfers</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="html, Msafiri" />
    <meta name="author" content="msafiri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    {% load static %}
    <link rel="stylesheet" href="..{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="..{% static "/css/font-awesome.css" %}">
    <link rel="stylesheet" href="..{% static "/css/icomoon.css" %}">
    <link rel="stylesheet" href="..{% static "/css/styles.css" %}">

</head>

<body>

    <div class="global-wrap">
             <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">

            <nav class="navbar ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle " data-target="#myNavBar" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" href="#">Flash</a>
                    </div>
                    <div class="navbar-collapse collapse" id="myNavBar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %} }}" class="active">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'transfer:formHandler' %}">Profile</a></li>

                            <li><a href="#">Education</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

                         </div>
            </div>
        </div>  <!-- //End container -->


             </header>


        <div class="container">
            <h1 class="page-title">Transfer Funds</h1>
        </div>

        <div class="container">
            <div class="row" data-gutter="60">
                <div class="col-md-4">
                    <h3>Welcome {{ username.firstName }}.</h3>
                    <p>We are a public SME banking operator and ground handler. Our advantage is being small enough to treat every small client as an individual and not just the statistics.</p>
                    <p>Our packages are planned to suit clients looking for a comfortable standard of saving and withdrawals together with an informative guide coupled with an impressive track record.</p>
                </div>

                <div class="col-md-4">
                    <h3>Transfer Money</h3>
 {% if error %}
     <div class="row">
         <div class="alert alert-danger">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                                </button>
                                <p class="text-small">{{ error }}</p>
                            </div>
     </div>
 {% endif %}

                    <form action="{% url 'transfer:formHandler'%}" method="POST">
                         {% csrf_token %}
                        {% for field in form %}
    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-highlight"></i>
    <label>{{ field.label }}</label>
    {{ field.as_widget }}
    </div>
{% endfor %}


      <input type="hidden" name="subinput" value="1">
    <input class="btn btn-primary" required autocomplete="off" type="submit" value="Transfer Money" />
</form>
</div>

<div class="col-md-4">

     <h3>Terms & Conditions </h3>
                        <div class="row">

<aside class="sidebar-right">
    <ul class="address-list list">
<li>
    <h5><a href="#">Rule #1 </a></h5>
    <p>
The maximum amount a registered user can transfer is Ksh 300, 000.
</p>
</li>
    <li>
        <h5><a href="#">Rule #2</a></h5>
        <aside class="sidebar-right">
        <ul class="address-list list">
<li> <h5><a href="#">Internal Transfers</a></h5>
<p>Customers can transfer money within any of their Deposit accounts.
    Transaction charges apply where applicable.</p>
</li>

            <li> <h5><a href="#">External Transfers</a></h5>
<p>Customers can transfer money within any of their Deposit accounts.
    Transaction charges apply where applicable.</p>
</li>

        </ul>
        </aside>
</li>


</ul>
</aside>
      </div>


            </div>


</div>
        </div>

        <div class="gap"></div>
 
       	{% load static %}
        <script src="../..{% static "/js/bootstrap.js" %}"></script>
        <script src="../..{% static "/js/jquery.js" %}"></script>
        <script src="../..{% static "js/bootstrap.js"%}"></script>
        <script src="../..{% static "js/slimmenu.js"%}"></script>
        <script src="../..{% static "js/bootstrap-datepicker.js"%}"></script>
        <script src="../..{% static "js/bootstrap-timepicker.js"%}"></script>
        <script src="../..{% static "js/nicescroll.js"%}"></script>
        <script src="../..{% static "js/dropit.js"%}"></script>
        <script src="../..{% static "js/ionrangeslider.js"%}"></script>
        <script src="../..{% static "js/icheck.js"%}"></script>
        <script src="../..{% static "js/fotorama.js"%}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../..{% static "js/typeahead.js"%}"></script>
        <script src="../..{% static "js/card-payment.js"%}"></script>
        <script src="../..{% static "js/magnific.js"%}"></script>
        <script src="../..{% static "js/owl-carousel.js"%}"></script>
        <script src="../..{% static "js/fitvids.js"%}"></script>
        <script src="../..{% static "js/tweet.js"%}"></script>
        <script src="../..{% static "js/countdown.js"%}"></script>
        <script src="../..{% static "js/gridrotator.js"%}"></script>
        <script src="../..{% static "js/custom.js"%}"></script>

    </div>
</body>

</html>


