


<!DOCTYPE HTML>
<html>

<head>
    <title>Transfers</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="html, Msafiri" />
    <meta name="author" content="msafiri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
        {% load static %}
    <link rel="stylesheet" href="../..{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/font-awesome.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/icomoon.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/styles.css" %}">
    <script src="../..{% static "/js/modernizr.js" %}"></script>

</head>

<body>

    <div class="global-wrap">
        <header id="main-header">

        </header>

        <div class="container">
            <h1 class="page-title">Transfer Shares</h1>
        </div>

        <div class="container">
            <div class="row" data-gutter="60">
                <div class="col-md-4">
                    <h3>Welcome {{ senderobj.firstName }}.</h3>
                    <p><b>Shares or Equity Capital</b>:
Each member shall purchase at least one share of Ksh.100 each. Shares shall not be refundable or assignable as collateral for a loan,
but a member may transfer his shares to other members on leaving membership of the Society.
                    </p>
                    <p>
                        Shares may earn dividends paid from net surplus after required transfers to reserves at the end of a financial year
in accordance with the dividend policy of the Society.
                    </p>
                </div>



                <div class="col-md-6">
                    <h3>Transfer Shares</h3>
 {% if error %}
     <div class="row">
         <div class="alert alert-danger">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                                </button>
                                <p class="text-small">{{ error }}</p>
                            </div>
     </div>
 {% endif %}
                    <form action="{% url 'transfer:sharesHandler' %}" method="POST">
                         {% csrf_token %}
                        {% for field in form %}
    <div class="form-group form-group-icon-left"><i class="fa fa-rocket input-icon input-icon-highlight"></i>
    <label>{{ field.label }}</label>
    {{ field.as_widget }}
    </div>
{% endfor %}

      <input type="hidden" name="subinput" value="1">
    <input class="btn btn-primary" required autocomplete="off" type="submit" value="Transfer Shares" />
</form>
</div>
            <div class="col-md-2"></div>



            </div>
        </div>

        <div class="gap"></div>

	{% load static %}
        <script src="../..{% static "/js/bootstrap.js" %}"></script>
        <script src="../..{% static "/js/jquery.js" %}"></script>
        <script src="../..{% static "js/bootstrap.js"%}"></script>
        <script src="../..{% static "js/slimmenu.js"%}"></script>
        <script src="../..{% static "js/bootstrap-datepicker.js"%}"></script>
        <script src="../..{% static "js/bootstrap-timepicker.js"%}"></script>
        <script src="../..{% static "js/nicescroll.js"%}"></script>
        <script src="../..{% static "js/dropit.js"%}"></script>
        <script src="../..{% static "js/ionrangeslider.js"%}"></script>
        <script src="../..{% static "js/icheck.js"%}"></script>
        <script src="../..{% static "js/fotorama.js"%}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../..{% static "js/typeahead.js"%}"></script>
        <script src="../..{% static "js/card-payment.js"%}"></script>
        <script src="../..{% static "js/magnific.js"%}"></script>
        <script src="../..{% static "js/owl-carousel.js"%}"></script>
        <script src="../..{% static "js/fitvids.js"%}"></script>
        <script src="../..{% static "js/tweet.js"%}"></script>
        <script src="../..{% static "js/countdown.js"%}"></script>
        <script src="../..{% static "js/gridrotator.js"%}"></script>
        <script src="../..{% static "js/custom.js"%}"></script>

    </div>
</body>

</html>


