


<!DOCTYPE HTML>
<html>

<head>
    <title>User Account</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="html, Msafiri" />
    <meta name="author" content="msafiri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    {% load static %}
    <link rel="stylesheet" href="../..{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/font-awesome.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/icomoon.css" %}">
    <link rel="stylesheet" href="../..{% static "/css/styles.css" %}">

</head>

<body>

    <div class="global-wrap">
           <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">

            <nav class="navbar ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle " data-target="#myNavBar" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" href="#">Flash</a>
                    </div>
                    <div class="navbar-collapse collapse" id="myNavBar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %} }}" class="active">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'transfer:formHandler' %}">Profile</a></li>

                            <li><a href="#">Education</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

                         </div>
            </div>
        </div>  <!-- //End container -->


             </header>



        <div class="container">
            <h1 class="page-title">User Profile</h1>
        </div>




        <div class="container">
            <div class="row">
                 <div class="col-md-3">
                    <aside class="user-profile-sidebar">
                        <div class="user-profile-avatar text-center">
                            {% load static %}
                            <img src="{{ DBobj.image.url }}" alt="Image Alternative text" title="AMaze" />
                            <h5>{{ DBobj.firstName }}</h5>
                            <p>Member Since {{ DBobj.register_date }}</p>
                        </div>
                    <ul class="list user-profile-nav">
                            <li><a href="{% url 'user:index'%}"><i class="fa fa-user"></i>Overview</a>
                            </li>
                            <li><a href="{% url 'user:profileupdate'  DBobj.id %}"><i class="fa fa-cog"></i>Settings</a>
                            </li>
                         <li><a href="{% url 'user:shares'%}"><i class="fa fa-life-ring"></i>Shares</a>
                            </li>
                            <li><a href="{% url 'user:members'%}"><i class="fa fa-group"></i>Group Account</a>
                            </li>
                            <li><a href="{% url 'user:loans'%}"><i class="fa fa-money"></i>Loan Applications</a>
                            </li>
                            <li><a href="{% url 'user:history'%}"><i class="fa fa-clock-o"></i>Account History</a>
                            </li>


                        </ul>
                    </aside>
                </div>
                <div class="col-md-9">

<div class="row">
    <h4>Welcome {{ DBobj.firstName }} </h4>
</div>

            <div class="row row-wrap" data-gutter="60">
                  <h4> Group Account Members</h4>
                 {% for user in userSet %}

                  <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            {% load static %}
                            <img class="round" src="../..{% static "/img/300x300.png" %}" alt="Image Alternative text" title="Afro" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">{{ user.firstName }} {{ user.lastName }}</h5>
                            <p class="thumb-meta text-small"><b>ID Number</b> {{ user.IDnumber }}</p>
                            <p class="thumb-meta text-small"><b>Phone Number</b> {{ user.contact }}</p>
                            <p class="thumb-meta text-small"><b>Email</b> {{ user.email }}</p>
                        </div>
                    </div>
                </div>
{% empty %}
    <h4>Sorry, no members in this group account.</h4>
                {% endfor %}

            </div>


                </div>
            </div>
        </div>


        <div class="gap"></div>

		{% load static %}
        <script src="../..{% static "/js/bootstrap.js" %}"></script>
        <script src="../..{% static "/js/jquery.js" %}"></script>
        <script src="../..{% static "js/bootstrap.js"%}"></script>
        <script src="../..{% static "js/slimmenu.js"%}"></script>
        <script src="../..{% static "js/bootstrap-datepicker.js"%}"></script>
        <script src="../..{% static "js/bootstrap-timepicker.js"%}"></script>
        <script src="../..{% static "js/nicescroll.js"%}"></script>
        <script src="../..{% static "js/dropit.js"%}"></script>
        <script src="../..{% static "js/ionrangeslider.js"%}"></script>
        <script src="../..{% static "js/icheck.js"%}"></script>
        <script src="../..{% static "js/fotorama.js"%}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../..{% static "js/typeahead.js"%}"></script>
        <script src="../..{% static "js/card-payment.js"%}"></script>
        <script src="../..{% static "js/magnific.js"%}"></script>
        <script src="../..{% static "js/owl-carousel.js"%}"></script>
        <script src="../..{% static "js/fitvids.js"%}"></script>
        <script src="../..{% static "js/tweet.js"%}"></script>
        <script src="../..{% static "js/countdown.js"%}"></script>
        <script src="../..{% static "js/gridrotator.js"%}"></script>
        <script src="../..{% static "js/custom.js"%}"></script>
    </div>
</body>

</html>


